@import 'include';

/* elements */

button {
  @include border-radius(2px);
  background-color: $dark-blue;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  border:none;
  padding: 5px 12px;
}

table {

  border-spacing: 0px!important;
  border-collapse: collapse!important;

  td {
    padding: 3px;
  }

  tr {
    border-bottom: 1px dotted #cbcbcb;
  }
  /*
  tr:nth-child(2n) td {
    background-color: #f1f1f1;
  }

  tr:nth-child(2n-1) {
    background-color: #e8e8e8;
  }
  */
}


/* elements end */

body {
  background: $background;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  height: 100%;
  width: 100%;
  margin: 5px 0 0 0;

  a {
    text-decoration: none;
  }

  a:hover {
    color: #be5e00;
  }
}

/* Reused classes */

.dash-box {

  h2 {
    @include box-sizing(border-box);
    @include border-radius-top(3px);
    background-color: $lighter-blue;
    color: white;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding:0 20px 0 20px;
    display: block;
  }

  h3 {
    margin: 0;
  }

  > div {
    @include border-radius-bottom(3px);
    background-color: $dash-box-background;
    padding: 5px 20px;
    border: 1px solid rgba(171, 171, 171, 0.85);
    border-top: none;
  }
}

.party-flair {
  @include border-radius(2px);
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.closebox {
  @include border-radius(2px);
  display: inline-block;
  float: right;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  cursor: pointer;

}


/* End resued classes */

#wrapper {
  position: relative;
  width: 1800px;
  height: auto;
  display: block;
  overflow: hidden;
}

header {
  width: 100%;
  height: 60px;
  background-color: #fff;

  h1 {
    color: black;
    letter-spacing: 3px;
    font-size: 2.4em;
    font-weight: normal;
    position: relative;
    margin: 0px;
    top: 15px;
    display: block;
    float: left;
    background: url(/img/logo.png) no-repeat;
    padding-left: 50px;
    margin-left: 20px;
  }

  h2 a {
    color: white;
    text-decoration: none;
  }

  h2 a:hover {
    color: #FF5938;
  }
}

.projections {
    position: absolute;
    background-color: $lighter-blue;
    float: left;
    height: 100%;
    display: block;
    color: #fff;
    border-right: 0;
    width: $side-bar-width;

  a {
    text-decoration: none;
    letter-spacing: 1px;

  }

  a:hover {
    color: orange;
  }

  p {
    width: 100%;
    vertical-align: middle;
    text-align: center;
  }

  h2, h3 {
    letter-spacing: 1px;
    font-weight: normal;
  }

  .divider {
    border-top: 1px solid rgba(0, 0, 0, 0.23);
    margin: 2px 10px 2px 10px;
  }

  h3 {
    height: $projections-nav-item-height;
    line-height: $projections-nav-item-height;
    text-align: center;
    margin: 0;

  }

  a {
    text-decoration: none;
  }

  .currentpage {
    background: $dark-blue;
    color: #FFF;
  }

  a:visited {
    color:  rgba(244, 244, 244, 0.61);
  }

  .notactive {
    letter-spacing: 0px;

    a {
      color: rgba(244, 244, 244, 0.61);
    }
  }
}

#seatlist {
  position: absolute;
  left: $side-bar-width + 5;
  top: 40px;
  display: none;
  max-height: 720px;
  max-width: 1100px;
  overflow: auto;


  #polltable {

    > td, th {
      text-align: center;
    }
  }


  .tablesorter, .tablesorter .tablesorter-filter {
      width: 100%;
  }
}

#methodology {
  position: absolute;
  z-index : 500;
  left: $side-bar-width + 20;
  top: 72px;
  max-height: 720px;
  max-width: 1100px;
  overflow: auto;
  display: none;
}



/* map */

#map {
  float: left;
  margin-left: $side-bar-width;
  width: $map-container-width;
  height: $map-height;
  display: block;
  overflow: hidden;
  /*position: relative;*/
}

#resetbutton {
  position: absolute;
  top: 5px;
  left: ($side-bar-width + 5);
  z-index: 1;
}

#resetmap {
  font-size: 1.2em;
}

#keyonmap {
  left: ($side-bar-width + 5);
  z-index: 1;
  top: 30px;
  position: absolute;
	width: 75px;
	font-size: 1.2em;
	padding: 2px;
}

/* map stylings */
svg .boundaries {
	 fill: none;
	 stroke: darkgrey;
	 stroke-linejoin: round;
	 stroke-width: 0.4;
}

 .background {
  fill: none ;
  pointer-events: all;
}

svg .map {
	stroke: black;
	stroke-width: 0.2;
	stroke-linejoin: round;
	cursor: pointer;
	pointer-events: all;

}

.map:hover {
	opacity: 0.5;
	stroke: black;
	stroke-width: 0.2;
}


/* info table */


#seat-information 	{
  display: none;
  position: absolute;
  left: $side-bar-width + 5;
  top: $widget-margin-top + 505;
  width: $seat-info-width;
  float: left;


  > div {
    padding-bottom: 0;
    height: 300px;
  }

  .seat-summary {

    overflow: hidden;
    font-size: 110%;

    > div {
      overflow: hidden;
      float: left;
      margin-bottom: 3px;
      font-weight: bold;
    }


    > div:nth-child(2n -1) {
      width: 220px;
      clear: left;
    }


    .party-name {
      display: inline-block;
    }

  }

  /* pie chart and votes */

  #charts {
    overflow: hidden;

    > div {
      @include box-sizing(border-box);
      width: 50%;
      float: left;
      height: auto;
      font-weight: bold;
    }

    #information-chart {
      right: 0;
      margin-top: 10px;
      > * {
        width: 100%;
      }
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: black;
      shape-rendering: crispEdges;
    }


  }
  #information-byelection {
    display: absolute;
    top: 340px;
  }
}

/* country totals*/

#totals {
  position: absolute;
  width: $totals-info-width;
  left: $side-bar-width + $map-container-width;
  height: auto;
  top: $widget-margin-top;
}

#totals h3{
  color: black;
}

#totals table{
  overflow: hidden;
  width: 100%;
  background-color: $dash-box-background;
}
//
#totalstable th{
  color: black;
  font-size: 0.9em;
}

#totalturnout {
  float: right;
}

table#totalstable {

  thead tr .header {
    cursor: pointer;
  }

  thead tr .headerUp {
    background-image: url("/img/asc.gif");
  }

  thead tr .headerDown {
    background-image: url("/img/desc.gif");
  }

  .total {
    background-color: $dark-blue;
    color: white;
    stroke: black;
  }

}

#searchforseat {
  position: absolute;
  top: $widget-margin-top + 395;
  left: $side-bar-width + $map-container-width + $filters-width + 5;
  width: $filters-width;


}

#searchseats {
  input {
    margin-top: -10px;
    width: 97%;
    background: white;
    border: 1px solid black;
  }
}



#filters {
  position: absolute;
  left: $side-bar-width + $map-container-width;
  top: $widget-margin-top + 395;
  height: auto;
  width: $filters-width;

  label {
    width: 100%;
    display: block;
  }

  select {
    border: 1px solid black;
    width: 100%;
    margin-bottom: 5px;
    text-align: left;
    background: white;
    color: black;
  }

  input {
    border: 1px solid black;
    width: 50px;
    background-color: white;
    color: black;
  }

  .filter-buttons {

    overflow: hidden;
    margin-top: 10px;

    #filtertolist {
      float: left;
    }

    #filterbutton {
      float: right;
    }

  }

}

.filteredlisttablecontainer {
  position: absolute;
  left: $side-bar-width + $map-container-width + 265;
  top: $widget-margin-top + 465;
  height: auto;
  width: $filters-width;

  > div {
    padding-right: 0;
  }

  #filteredlisttable {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 300px;
    margin-bottom: 2px;

    > div {
      cursor: pointer;
    }

    .party-flair {
    }

    > div:hover {
      opacity: 0.5;
    }
  }
}


#choropleths {
  position: absolute;
  top: $widget-margin-top + 630;
  left: $side-bar-width + $map-container-width;
  width: $filters-width;

  select {
    border: 1px solid black;
    width: 100%;
    margin-bottom: 5px;
    text-align: left;
    background: white;
    color: black;
  }

  label {
    width: 100%;
    display: block;
  }
}


#information-bielection{
  float: right;
  margin-bottom: 8px;
}

/* Input your own percentages */

$userinput-fieldspacing: 5px;

#userinput {

  position: absolute;
  z-index : 500;
  left: $side-bar-width + 20;
  top: 45px;
  overflow: auto;
  display: none;
  width: 550px;

  .country-container {
    overflow: hidden;
    width: 50%;
    float: left;
    margin-bottom: 10px;
  }

  form {
    margin-bottom: 5px;
    overflow: hidden;
    display: block;
  }

  form div {
    float: left;
    margin-right: $userinput-fieldspacing;

    label {
      font-size: 11px;
    }

    input {
      display: block;
    }

  }

  .submitbutton {
    clear: left;
    float: left;
    display: block;
  }

  .other-percentage {
    float: left;

      span {
        display: block;
        margin-top: 3px;
        clear: left;
      }
  }

  .inputnumbers {
  	width: 22px;

  }

  .inputsubmit {
  	margin-top: -3px;
  	margin-left: 2px;
  	font-size: 0.95em;
  	width: 95%;
  	padding: 1px;

  }

  .resetmap {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

}


/* party based stylings */

.labour { background-color:#CC0000; color: white; fill: #CC0000; stroke: #CC0000;}
.conservative {background-color: #0000FF; color: #FFFF00; fill: #0000FF; stroke: #0000FF; }
.libdems {background-color: #FF9900; color:black; fill:#FF9900; stroke: #FF9900;}
.snp { background-color: #FFFF00; color:#0000FF; fill: #FFFF00; stroke: #FFFF00;}
.ukip { background-color: #660099; color:#99FF66; fill: #660099; stroke: #660099;}
.green { background-color: #6AB023; color:black; fill: #6AB023; stroke: #6AB023;}
.plaidcymru {background-color: #337147; color:black; fill: #337147; stroke: #337147;}
.respect {background-color: #660000; color:white; fill: #660000; stroke: #660000;}
.speaker {background-color: white; color:black ; fill: white; stroke: white;}
.independent {background-color: grey; color:white; fill: grey; stroke: grey;}
.dup {background-color: #D46A4C; color: black; fill:#D46A4C; stroke: #D46A4C;}
.sdlp { background-color: #99FF66; color: black; fill: #99FF66; stroke: #99FF66;}
.uu {background-color: #9999FF; color:black; fill: #9999FF; stroke: #9999FF;}
.alliance {background-color: #F6CB2F; color: black; fill: #F6CB2F; stroke: #F6CB2F;}
.sinnfein {background-color: #008800; color: black; fill: #008800; stroke: #008800;}
.other1 {background-color: #666666 ; color:white; fill: #666666 ; stroke: #666666;}
.other2 {background-color: #999999; color:white; fill: #999999; stroke: #999999;}
.null {background-color: white; color:black; fill: white; stroke: white;}
.other {background-color: #666666 ; color:white; fill: #666666 ; stroke: #666666;}
.others {background-color: #666666 ; color:white; fill: #666666 ; stroke: #666666;}


/* pollster stylings */

.yougov {background-color: red; color: white;}
.survation {background-color: orange; color: black;}
.tns {background-color: yellow; color: black;}
.ashcroft {background-color: green; color: white;}
.icm {background-color: blue; color: white;}
.populus {background-color: purple; color: lightgreen;}
.comres {background-color: brown; color: white;}
.opinium {background-color: pink; color: black;}
.lucidtalk {background-color: black; color: white;}
.mori {background-color: grey; color: black;}


footer {
  clear: both;
}
