#info {
  float: left;
  border-right: 1px solid black;
  border-left: 1px solid black;
  height:auto;
  width: 1281px;
  background: #99CCFF;
	padding-left: 10px;
	padding-right: 10px;
}

#tableinfo {
  border-radius: 0 0 10px 10px;
  float: left;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  height:auto;
  width: 1281px;
  background: #99CCFF;
	padding-left: 10px;
	padding-right: 10px;
}

#polltableheader {
  background-color: white;
  color: black;
}

#polltablebody {

}

#polltable {
	width: 100%;
}

#tableinfo table {
    border-collapse: collapse;
}


#polltable td, th{
   border: 1px solid black;
   text-align: center;
}

table#polltable thead tr .header {
    background-image: url("/img/bg.gif");
    background-repeat: no-repeat;
    background-position: right center;
    cursor: pointer;
}

table#polltable thead tr .headerSortUp {
    background-image: url("/img/asc.gif");
}

table#polltable thead tr .headerSortDown {
    background-image: url("/img/desc.gif");
}


.tablesorter, .tablesorter .tablesorter-filter {
    width: 100%;
}


#info p{
  font-size: 1.2em;
}

#footer {
  margin-left: 150px;
}



/* for trends.html */

#trends {
  float: left;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-radius: 0 0 5px 0;
  height:900px;
  width: 1281px;
  background: #99CCFF;
	padding-left: 10px;
	padding-right: 10px;
}



path {
    stroke: red;
    stroke-width: 1;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
