#wrapper {
	width: 1480px;
	
}
/* far left */

#top {
	width: 1454px;
}
 
#farleft{
	float: left;
	width: 140px;
	height: auto;
	border-left: 1px solid black;	
	border-bottom: 1px solid black;
	height: 900px;
	background: black;
	color: white;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 0 0 0 10px;
}

#farleft h2,h3{
	letter-spacing: 1px;
	font-weight: normal;
}


#projections {
	height: 60px;
	width: 100%;	
}


#projections h3 {
	text-align: center;
	margin-right: -5px;
	margin-left: -5px;
	padding-left: 5px;
	padding-right: 5px;
	
}

#projections a {
	text-decoration: none;
	color: #fff;
}

#projections a:hover {
	color: orange;
}

#instructions {	
	
}

#filters {
	height: 200px;
	
}

#filters button {
	float: right;
	background-color: black;
	color: white;
}
#filters select {
	width: 100%;
	text-align: left;
	background: black;
	color: white;
}

#filters input {
	width: 50px;
	background-color: black;
	color: white;
}

#filteredlist {
}

#filteredlist button{
	width: 100%;
	background-color: black;
	color: white;
}

#filteredlisttable{
	width: 100%;
	height: 50%;
	overflow: auto;
}

#filteredlisttable td{
	border-bottom: 1px solid black;
	width: 140px;
	white-space: nowrap;	
	text-align: left;
	cursor: pointer;

}

#filteredlisttable td:hover{	
	opacity: 0.5;
}

/* map */

#left {
	float: left;
	width: 700px;
	height: 900px;
	border-bottom: 1px solid black;	
	border-right: 1px solid black;	
	border-left: 1px solid black;	
	display: block;	
	overflow: hidden;
	position: relative
}	

#resetbutton {	
	position: absolute;	
	padding: 5px;	
}

#resetzoom {
	font-size: 1.2em;
}


/* right */

#right{
	height: 900px;
	float: left;		
	width: 600px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	background-color: #99CCFF;
	border-radius: 0 0 10px 0;
}

#topright {
	height: 40px;
	width: 600px;
	float: left;
	
}

/* info table */ 
#information 	{	
	width: 100%;
	height: 202px;		
	border-bottom: 1px solid black;
	float: left;
	border-top: 1px solid black;
}

#information-header{
	float: left;
}

#information-bielection{
	float: right;
}

#information table {	
	height: 200px;
	font-size: 1.5em;

}

#information td {
	width: auto;	
	padding-left: 3px;
	padding-right: 3px;	
}

#rightcolumninfotable {
	text-align: right;
	font-size:0.9em;
}

/* pie chart and votes */

#charts {
	height: 250px;
	border-bottom: 1px solid black;
}

#information-pie {
	float: left;
	width: 250px;
	height: 250px;
}

#information-chart {
	float: right;
	font-size: 1.3em;	
}

#information-chart td{
	border: 2px solid black;
}

/* country totals*/

#totals {
	height: auto;	
}


#totals h3{
	color: black;	
}

#totals table{	
	width: 600px;	
}

#totals th{
	color: black;
	font-size: 0.9em;
}

/* map stylings */

svg .boundaries {
	 fill: none;
	 stroke: darkgrey;	  
	 stroke-linejoin: round;
	 stroke-width: 0.4;
}

 .background {
  fill: #99CCFF ;
  pointer-events: all;
}

svg .map {	
	stroke: lightgrey; 
	stroke-width: 0.1; 
	stroke-linejoin: round; 
	cursor: pointer;
	pointer-events: all; 	
}

.map:hover {
	opacity: 0.5;	
}

/*
.place {
	pointer-events: all; 
}

.place-label {
	font-size: 0.4em;
	fill: black;			
}
*/

/* party based stylings */

.labour { background-color:#CC0000; color: white; fill: #CC0000; }
.conservative {background-color: #0000FF; color: #FFFF00; fill: #0000FF; }
.libdems {background-color: #FF9900; color:black; fill:#FF9900; }
.snp { background-color: #FFFF00; color:#0000FF; fill: #FFFF00; }
.ukip { background-color: #660099; color:#99FF66; fill: #660099;}
.green { background-color: #33FF00; color:black; fill: #33FF00;}
.plaidcymru {background-color: #336600; color:black; fill: #336600;}
.respect {background-color: #660000; color:white; fill: #660000;}
.speaker {background-color: white; color:black ; fill: white;}
.independent {background-color: grey; color:white; fill: grey;}
.dup {background-color: #CC6600; color: black; fill:#CC6600;}
.sdlp { background-color: lightgreen; color: black; fill: lightgreen;}
.uu {background-color: purple; color:#99FF66; fill: purple;}
.alliance {background-color: yellow; color: black; fill: yellow;}
.sinnfein {background-color: darkgreen; color: white; fill: darkgreen;}
.other1 {background-color: #666666 ; color:white; fill: #666666 ;}
.other2 {background-color: #999999; color:white; fill: #999999;}
.null {background-color: white; color:black; fill: white;}
.total {background-color: black; color: white;}
