#footer {
  margin-left: 0px
}

#methodology{
  height: 900px;
  width: 1281px;
  background: #99CCFF;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 0 0 10px 0;
  float: left;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  overflow-y:auto;

}

#methodology p {
  font-size: 1.2em;
}
