/* info table */
#information 	{

	height: 100px;
}


#information table {
	height: 100px;
	font-size: 1.5em;
}

#information-gain span {
	padding: 2px;
	border-radius: 3px 3px 3px 3px;
}

#selectareatotals {
	border: 1px solid black;
}

#totals {
	height: 420px;
	border-bottom : 1px solid black;
}

#bottomright {
	padding-left: 5px;
	color : black;

}

#bottomright h3 {
	text-align: center;
	font-size: 1.3em;
	font-weight: bold;
}

#aboutbutton {
	text-align: center;
}

#aboutmap {

}

#filteredlist a {
	text-decoration: none;
	color: #fff;
}

#filteredlist a:hover {
	color: orange;
}


#userinput {
	position: absolute;
	z-index: 1;
	margin-left: 510px;
	margin-top: 5px;
	width: 180px;
	height: 340px;
	background: #99CCFF;

	border: 1px solid black;
}

#userinput tr{
	width: 100%;

}

#userinput tr{
	width: auto;

}

#userinput table tr td {
	font-size: 0.9em;
}

#userinput h4{
	width: 100%;
	text-align: center;
	margin-bottom: 3px;
	margin-top: 0;
}


.inputnumbers {
	width: 22px;
}

.inputsubmit {
	margin-top: -3px;
	margin-left: 2px;
	font-size: 0.95em;
	width: 95%;
	padding: 1px;

}

.submitbutton {
	font-size: 0.95em;
}
