/* info table */
#information 	{

	height: 100px;
}


#information table {
	height: 100px;
	font-size: 1.5em;
}

#information-gain span {
	padding: 2px;
	border-radius: 3px 3px 3px 3px;
}

#selectareatotals {
	border: 1px solid black;
}

#totals {
	height: 420px;
	border-bottom : 1px solid black;
}

#bottomright {
	padding-left: 5px;
	color : black;

}

#bottomright h3 {
	text-align: center;
	font-size: 1.3em;
	font-weight: bold;
}

#aboutbutton {
	text-align: center;
}

#aboutmap {

}

#aboutpopup{
	display: none;
	position: fixed;
	top : 0;
	left : 0;
	background-color: black;
	opacity: 0.9;
	width: 100%;
	height : 120%;
	z-index: 2;
}

.aboutwrapper {
	width: 750px;
	margin: 80px auto;
	text-align: left;
}

.aboutinfo {
		background-color: white;
		color: black;
		padding: 8px;
		font-size: 1.35em;
		border-radius : 6px;
}
