/*for overwriting other main.css*/
#wrapper {
	width: 1680px;
}

#top {
	width: 1652px;
}

#left {
  width :900px;
}

#filteredlisttable {
  max-height: 50%;
}

.mapbuttons {
  position: absolute;
  z-index: 1;
  padding: 5px;
  width: 150px;
}

#refreshbutton {
  margin-left: 798px;
}



#ticker {
  position: absolute;
  z-index: 1;
  margin-left: 600px;
  margin-top: 27px;
  width: 290px;
  height: 855px;
  background: #99CCFF;
  border: 1px solid black;
  overflow: auto;
}

#ticker td{
  	cursor:pointer;
    font-size: 1.2em;
    min-width: 100%;
}

#ticker tr:hover{
  	opacity: 0.5;


}

#information {

  height: 165px;
  width: 594px;
  padding: 3px;

  float:left;
  border-top: 0px;
}

#information p{
  width: 100%;
  font-size: 1.5em;
}

#charts{
  float: left;
  width: 100%;
  height: 225px;
}

#coalitions {
  height: 75px;
  width: 100%;
  float: left;
  border-bottom: 1px solid black
}

#coalitions h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

#totals {
  float: left;
  width: 100%;
  height: 422px;
  border-bottom: 0;
}

#totals table{
  font-size: 1.33em;
}
