/*for overwriting other main.css*/
#wrapper {
	width: 1680px;
}

#top {
	width: 1652px;
}

#left {
  width :900px;
}

#filteredlisttable {
  max-height: 50%;
}

#refreshbutton {
	position: absolute;
	z-index: 1;
	padding: 5px;
	width: 150px;
  margin-left: 952px;
	margin-top: 25px;
}

#ticker {
  position: absolute;
  z-index: 1;
  margin-left: 600px;
  margin-top: 5px;
  width: 295px;
  height: 890px;
  overflow: auto;
}

#ticker td{
  	cursor:pointer;
    font-size: 1.2em;
}

#ticker tr:hover{
  	opacity: 0.5;
}

.tickerSeats td{
	border-bottom: 3px solid #99CCFF;
 	padding-bottom: 2px;
	padding-top: 2px;
}

#information {
  height: 165px;
  width: 594px;
  padding: 3px;
  float:left;
  border-top: 0px;
}

#information p{
  width: 100%;
  font-size: 1.5em;
}

.partyinfospan {
	padding: 5px;
	border-radius: 5px 5px 5px 5px;
}

#charts{
  float: left;
  width: 100%;
  height: 225px;
}

#coalitions {
  height: 75px;
  width: 100%;
  float: left;
  border-bottom: 1px solid black
}

#coalitions h3 {
  margin-top: 5px;
  margin-bottom: 5px;

}

#coalitionlist {
	float:left;
	font-size: 1.05em;
}

#totals {
  float: left;
  width: 100%;
  height: 422px;
  border-bottom: 0;
}

#totals table{
  font-size: 1.33em;
}
