/*for overwriting other main.css*/

#information {

  height: 165px;
  width: 594px;
  padding: 3px;

  float:left;
  border-top: 0px;
}

#information p{
  width: 100%;
  font-size: 1.5em;
}

#charts{
  float: left;
  width: 100%;
  height: 225px;
}

#coalitions {
  height: 75px;
  width: 100%;
  float: left;
  border-bottom: 1px solid black
}

#coalitions h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

#totals {
  float: left;
  width: 100%;
  height: 422px;
  border-bottom: 0;
}

#totals table{
  font-size: 1.33em;
}
