@import "../core";
@import "button";


#wrapper {
  float: left;
  position: relative;
  left: 150px;
  height: auto;
  display: block;
}

#filters {
  position: absolute;
  width: 520px;
  height: 875px;
  left: 5px;
}

.filter-title {
  font-size: 1.2em;
}

#filters-class {
  > button {

  }

  #filters-class-neutral {
    margin-right: 300px;
  }

}

#card {
  position: absolute;
  width: 585px;
  top: 455px;
  left: 520px;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

#display {
  @include box-sizing(border-box);
  @include border-radius-top(4px);
  @include border-radius-bottom(4px);
  position: absolute;
  left: 520px;
  top: 5px;
  background-color: #f4f4f6;
  color : black;
  padding: 2px 2px 2px 2px;
  width: 585px;
  max-height: 475px;

  #display-info {
    font-size: 1.2em;
  }

  #display-table-headers {


    > div {

      width : 100%;
      float: left;
      text-align: center;
      cursor:pointer;


      > div {
        float: left;
        padding: 2px 5px 2px 0px;
      }

      >div:nth-child(1){
        width: 150px;
      }

      >div:nth-child(2){
        width: 70px;
      }

      >div:nth-child(3){
        width: 70px;
      }

      >div:nth-child(4){
        width: 80px;
      }

      >div:nth-child(5){
        width: 100px;
      }

      >div:nth-child(6){
        width: 60px;
      }
    }
  }

  #display-table-data {
    max-height: 400px;
    overflow-y : scroll;
    overflow-x : hidden;
    float: left;

    :hover {
      opacity: 0.5;
    }

    > div {

      width : 100%;
      float: left;
      padding: 2px 0px 2px 5px;
      border-top: 1px dotted black;

      > div {
        float: left;
        padding: 2px 5px 2px 0px;
        text-align: center;
      }

      >div:nth-child(1){
        width: 150px;
      }

      >div:nth-child(2){
        width: 70px;
      }

      >div:nth-child(3){
        width: 70px;
      }

      >div:nth-child(4){
        width: 80px;
      }

      >div:nth-child(5){
        width: 100px;
      }

      >div:nth-child(6){
        width: 60px;
      }
    }
  }
}

.card-row {
  cursor: pointer;
}

.sort-active {
  background-color: #203040;
  color: white;
}

// classes
.neutral {background-color: #736152; color: white;}
.druid {background-color: #3B2A18; color: white;}
.hunter {background-color: #102F0F; color: white;}
.mage {background-color: #2E5F99; color: white;}
.paladin {background-color: #794A14; color: white;}
.priest {background-color: #7C777B; color: white;}
.rogue {background-color: #141011; color: white;}
.shaman {background-color: #18204F; color: white;}
.warlock {background-color: #321943; color: white;}
.warrior {background-color: #3E0B12; color: white;}

.free {background-color: white; color: black;}
.common {background-color: #FCFFFF; color: black;}
.rare {background-color: #3D76C5; color: white;}
.epic {background-color: #E84AFF; color: white;}
.legendary {background-color: #FFC515; color: black;}
