#main {
	width:998px;
	margin-top:10px
}

#election {
	width: 600px;
	
	margin-left: auto;
	margin-right: auto;
	border-radius: 50px;
	font-size: 5em;
	text-align: center;
	background-color: darkgrey;
}

#election a {
	text-decoration: none;	
}

#election  a:hover{
	color: orange;	
}