nav {
  display: block;
  float: right;
}

nav ul {
  margin: 0;
  list-style: none;
  display: inline-table;
  position: relative;
}

nav li {
  display: block;
  float: left;
  padding: 35px 20px 0px 20px;
  text-decoration: none;
  letter-spacing: 1px;
  color: black;

}

nav li a:hover {
  color: orange;
}
