/* party based stylings */

.labour { background-color:#CC0000; color: white; fill: #CC0000; stroke: #CC0000;}
.conservative {background-color: #0000FF; color: #FFFF00; fill: #0000FF; stroke: #0000FF; }
.libdems {background-color: #FF9900; color:black; fill:#FF9900; stroke: #FF9900;}
.snp { background-color: #FFFF00; color:#0000FF; fill: #FFFF00; stroke: #FFFF00;}
.ukip { background-color: #12B6CF; color:#99FF66; fill: #12B6CF; stroke: #12B6CF;}
.green { background-color: #6AB023; color:black; fill: #6AB023; stroke: #6AB023;}
.plaidcymru {background-color: #337147; color:black; fill: #337147; stroke: #337147;}
.respect {background-color: #660000; color:white; fill: #660000; stroke: #660000;}
.speaker {background-color: white; color:black ; fill: white; stroke: white;}
.independent {background-color: grey; color:white; fill: grey; stroke: grey;}
.dup {background-color: #D46A4C; color: black; fill:#D46A4C; stroke: #D46A4C;}
.sdlp { background-color: #99FF66; color: black; fill: #99FF66; stroke: #99FF66;}
.uu {background-color: #9999FF; color:black; fill: #9999FF; stroke: #9999FF;}
.alliance {background-color: #F6CB2F; color: black; fill: #F6CB2F; stroke: #F6CB2F;}
.sinnfein {background-color: #008800; color: black; fill: #008800; stroke: #008800;}
.other1 {background-color: #666666 ; color:white; fill: #666666 ; stroke: #666666;}
.other2 {background-color: #999999; color:white; fill: #999999; stroke: #999999;}
.null {background-color: white; color:black; fill: white; stroke: white;}
.other {background-color: #666666 ; color:white; fill: #666666 ; stroke: #666666;}
.others {background-color: #666666 ; color:white; fill: #666666 ; stroke: #666666;}


// choropleth
.choro-plus {background-color: #0000ff; color: white; fill: #0000ff; stroke: #0000ff;}
.choro-minus {background-color: #ff0000; color: white; fill: #ff0000; stroke: #ff0000;}

// brexit
.leave {background-color: blue; color: white; fill: blue; stroke: blue; }
.remain {background-color: gold; color: black; fill: gold; stroke: gold; }
