#battlegroundsselect {
  width: 200px;
  top: 40px;
  left: 400px;

  select {
    width: 90%;
    display: inline-block;
    margin-top: 10px;
  }

  input {
    width: 35px;
    margin-top: 10px;
  }
}
